.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #0f172a;
    -fx-alignment:center;
    /* azul oscuro */
}

.pane-principal{
    fx-background-color: #0C0C1A;
    -fx-border-radius: 10rem;
    -fx-alignment:center;
}

/* Tarjetas */
.card {
    -fx-background-color: #1e293b;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 4);
    -fx-alignment: center;
}

/* Textos */
.label-title {
    -fx-text-fill: #e2e8f0;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #cbd5f5;
}

/* Inputs */
.text-field, .password-field, .combo-box {
    -fx-background-color: #334155;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8;
}

/* Botón principal */
.button-primary {
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}

.button-primary:hover {
    -fx-background-color: #2563eb;
}

/* Botón secundario */
.button-secondary {
    -fx-background-color: transparent;
    -fx-border-color: #3b82f6;
    -fx-text-fill: #3b82f6;
    -fx-border-radius: 10;
}